node_modules
.github
.next
.vscode
.env
.env.local
.env.development
.env.production
.git
git
coverage
.dockerignore
Dockerfile
helm
Makefile
README.md
cypress
tests
frontend
backend
.cache
.bolt
*.log
*.swp
.DS_Store
